@mixin box-shadow($color) {
    box-shadow: 0 1px 2px $color;
  }
  
  @mixin flex-center($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
  }