@use "../variables/variables" as *;
@use "../mixins/mixins" as *;
.category__item {
  @include flex-center(column, center, center);
  margin: 0 15px;
  cursor: pointer;

  img {
    width: $icon-size;
    height: $icon-size;
    object-fit: contain;
    margin-bottom: 5px;
  }

  span {
    font-size: $font-size-small;
    color: $primary-color;
    font-weight: $font-weight-medium;
  }
}

.category__header {
  @include flex-center(row, space-between, center);
  padding: $padding-header $padding-header-side;
  background-color: $background-color;
  border-top: 1px solid $border-color;
  @include box-shadow($box-shadow-color);
  overflow-x: auto;
}

@media (max-width: 1192px) {
  .category__header {
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .category__item {
    flex: 0 0 auto;
  }
}

