.filters__container {
  width: 100%;
  background-color: #fff;
  font-family: Arial, sans-serif;
}

.filter__top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding:16px 16px 0px 16px;
  border-bottom: 1px solid #f0f0f0;


  h3{
    margin: 0;
    padding-top: 10px;
  }
}

.filters__heading {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
  color: #212121;
  padding: 0 0 10px;
  // border-bottom: 1px solid #e0e0e0;
}

.filter__actions {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;


  #clearAllBtn {
    background: none;
    border: none;
    color: #2874f0;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    display: none;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }
}

.filter__section {
  margin-bottom: 20px;
  padding: 2px 16px;
  border-bottom: 1px solid #f0f0f0;
}

.filter__title {
  font-size: 14px;
  font-weight: 600;
  color:  #1f1c1c;
  margin-bottom: 10px;
}

.filter__section label {
  display: block;
  font-size: 13px;
  color: #212121;
  margin-bottom: 8px;
  cursor: pointer;

  input[type="checkbox"] {
    margin-right: 8px;
  }
}

.price-range {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #878787;
  margin-top: 5px;
}

input[type="range"] {
  width: 100%;
  margin-top: 10px;
}

.accordion__item {
  // border-top: 1px solid #e0e0e0;
  margin-bottom: 10px;
}

.accordion__header {
  padding: 10px 0;
  width: 100%;
  border: none;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .3px;
  font-size: 13px;
  color: #0f0d0d;
  cursor: pointer;
  display: flex;
  justify-content: space-between;

  &:after {
    content: "⌄";
    font-size: 12px;
    color: #878787;
    transition: transform 0.2s ease;
  }
}

.accordion__item.active .accordion__header:after {
  transform: rotate(180deg);
}

.accordion__body {
  display: none;
  padding: 8px 0 0;
}

.accordion__item.active .accordion__body {
  display: block;
}

.accordion__filter {
  width: 100%;
  border-top: 1px solid #ddd;
}

.filters {
  width: 20%;
  background: white;
  
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border-right: 1px solid #e0e0e0;

  h3 {
    margin-top: 0;
  }
}

.filter-group {
  margin-bottom: 20px;

  label {
    display: block;
    margin-bottom: 5px;
  }
}

.search__results__container {
  display: flex;
  margin-top: 2px;
  padding: 10px;
  gap: 5px;
}


.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 5px;
  background: #007aff;
  outline: none;
  margin-bottom: 10px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  background: white;
  border: 2px solid #007aff;
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  background: white;
  border: 2px solid #007aff;
  border-radius: 50%;
  cursor: pointer;
}

.price-inputs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.price-inputs select {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 14px;
}
