@use "../mixins/mixins" as *;
@use "../variables/variables" as *;

.product__main{
  width: 80%;
  gap: $gap-md;
  background-color: $white ;
  padding: 5px;
  padding-left: 15px;

  @media (max-width:768px){
    width:97%;
  }
}
.products {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
  background-color: $white ;
  @media (max-width:1192px) {
      grid-template-columns: repeat(3,1fr);
  }
  
  @media (max-width: 768px) {
      grid-template-columns: repeat(2,1fr);
  }
  @media (max-width: 468px) {
    grid-template-columns: repeat(1,1fr);
}
  
}


.product__card {
  width: 220px;
  width: 100%;
  border-radius: $border-radius-sm;
  background-color: $white;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  position: relative;
  transition: box-shadow 0.2s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


  &:hover {
  box-shadow: 0 2px 12px $product-card-box-shadow;
   }

}

.product__info {
  padding: 12px;
  transition: transform 0.3s ease-out; 
}

.product__card:hover .product__info {
  transform: translateY(-20px); 
}
.product__image {
  position: relative;
  background-color: $white-shade-2;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.wishlist__icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  color: $wishlist-color ;
  cursor: pointer;
  opacity:0.5;
}

.product__info {
  padding: $spacing-padding-sm;
}

.sponsored {
  font-size: 12px;
  color: $wishlist-color;
}

.product__title {
  font-size: 14px;
  font-weight: 500;
  margin: 4px 0;
  color: $black-shade-2;
}

.product__subtitle {
  font-size: $font-size-small;
  color: $secondary-color;
  margin-bottom: 8px;
}

.assurance img {
  width: 70px;
  margin-bottom: 6px;
}

.pricing {
  display: flex;
  align-items: center;
  gap: 6px;
  margin: 6px 0;
}

.price {
  font-size: 18px;
  color: $black-shade-2;
  font-weight: bold;
}

.original__price {
  font-size: 14px;
  color: $text-color-1;
  text-decoration: line-through;
}

.discount {
  font-size: 14px;
  color: $product-info-color;
  font-weight: 500;
}

.offers {
  font-size: 13px;
  color:$offer-color ;
  margin-top: 6px;
}


.sort__results--bar {
  font-family: 'Roboto', sans-serif;
  padding: $spacing-padding-sm 0;
  border-bottom: 1px solid $border-color-filter;
  margin-bottom: $spacing-padding-sm;
}

.breadcrumbs {
  font-size: 13px;
  color: $secondary-color;
  margin-bottom: 4px;
}

.results__count {
  font-size: $font-size-base;
  margin-bottom: 10px;
}

#searchTerm {
  font-weight: 500;
  color: $black-shade-2;
}

.sort__options {
  display: flex;
  align-items: center;
  gap: 12px;
  flex-wrap: wrap;
  @media (max-width:768px){
    white-space: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
   
  }

  &::-webkit-scrollbar{
    display: hidden;
  }
}

.sort__options span {
  font-size: 14px;
  color: $text-color-1;
}

.sort__btn {
  font-size: 14px;
  border: none;
  background: none;
  color: $black-shade-2;
  cursor: pointer;
  padding: 4px 8px;
}

.sort__btn.active {
  color: $primary-color;
  font-weight: $font-weight-md;
  border-bottom: 2px solid $primary-color;
}





