$primary-color: #2874f0;
$hover-bg-color: #f0f0f0;
$white: #fff;
$black: #000;
$light-gray: #f0f5ff;
$border-color: #ddd;
$box-shadow-light: 0 2px 5px rgba(0, 0, 0, 0.1);
$box-shadow-dark: 0 4px 8px rgba(0, 0, 0, 0.1);
$font-size-small: 1rem;
$font-size-medium: 1.2rem;
$font-size-large: 1.5rem;
$font-size-xsmall: 0.9rem;
$font-size-xxsmall: 0.7rem;
$border-radius: 5px;

$hero-background-color: #fff;
$hero-border-radius: 8px;
$hero-button-background-color: rgba(255, 255, 255, 0.98);
$hero-button-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
$hero-dot-size: 8px;
$hero-dot-active-size: 18px;
$hero-dot-radius: 50%;
$hero-transition-duration: 0.3s;
$hero-transition-ease: ease-in-out;