@use "../variables/variables" as *;

.outer-container {
    background-color: $color-bg-light;
    padding: 90px 20px 20px;
  }
  


.category-bar {
  background-color: $color-bg-light;
  padding: $spacing-padding-md;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: $spacing-margin-bottom-md;
  border-radius: $border-radius-md;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: 1024px) {
      overflow-x: auto; 
      -webkit-overflow-scrolling: touch;  
      flex-wrap: nowrap;  
      gap: $spacing-gap-sm; 
    }
  }

  &__item {
    cursor: pointer;
    position: relative;
    text-align: center;
    color: $color-text-primary;
    margin: 0 21px;

    &:hover .category-bar__icon {
      transform: scale(1.1);
    }

    &:hover .category-bar__name {
      color: $color-text-hover;
    }

    &:hover .category-bar__name .fa-chevron-down {
      color: $color-icon-hover;
      transform: rotate(180deg);
    }

    @media screen and (max-width: 992px) {
      flex: 0 0 auto; 
    }
  }

  &__icon {
    width: $icon-size-lg;
    height: auto;
    display: block;
    margin: 0 auto 10px;
    transition: transform 0.3s ease;
  }

  &__name {
    font-size: $font-size-base;

    i {
      font-size: $font-size-sm;
      vertical-align: middle;
      transform: translateY(-2px);
      transition: transform 0.3s ease;
    }
  }
}
