$primary-color: #2874f0;
$hover-bg-color: #f0f0f0;
$black: #000;
$light-gray: #f0f5ff;
$border-color: #ddd;
$box-shadow-light: 0 2px 5px rgba(0, 0, 0, 0.1);
$box-shadow-dark: 0 4px 8px rgba(0, 0, 0, 0.1);
$font-size-small: 1rem;
$font-size-medium: 1.2rem;
$font-size-large: 1.5rem;
$font-size-xsmall: 0.9rem;
$font-size-xxsmall: 0.7rem;
$border-radius: 5px;
$wishlist-color:#999;

$primary-color: #212121;
$secondary-color: #757575;
$background-color: #f1ecec;
$border-color: #e0e0e0;
$box-shadow-color: rgba(0,0,0,0.1);
$font-size-small: 13px;
$font-weight-medium: 600;
$icon-size: 48px;
$padding-header: 15px;
$padding-header-side: 40px;
$primary-color: #2874f0;
$white: #fff;
$white-shade-1:#f5f5f5;
$white-shade-2:#f7f7f7;
$black: #000;
$black-shade-1:#1f1c1c;
$black-shade-2:#212121;
$main-yellow:#ffe500;

$light-gray: #f0f5ff;
$border-color: #ddd;
$box-shadow-light: 0 2px 5px rgba(0, 0, 0, 0.1);
$box-shadow-dark: 0 4px 8px rgba(0, 0, 0, 0.1);
$font-size-small: 1rem;
$font-size-medium: 1.2rem;
$font-size-large: 1.5rem;
$font-size-xsmall: 0.9rem;
$font-size-xxsmall: 0.7rem;
$border-radius: 5px;
$product-info-color:#388e3c;
$offer-color:#26a541;
$font-family: Arial, sans-serif;
$border-color-filter: #e0e0e0;
$filter-box-shadow:rgba(0, 0, 0, 0.05);
$product-card-box-shadow:rgba(0, 0, 0, 0.1);
$color-slider: #007aff;
$price-color-input:#ccc;
$drop-down-color:#ccc;


$hero-background-color: #fff;
$hero-border-radius: 8px;
$hero-button-background-color: rgba(255, 255, 255, 0.98);
$hero-button-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
$hero-dot-size: 8px;
$hero-dot-active-size: 18px;
$hero-dot-radius: 50%;
$hero-transition-duration: 0.3s;
$hero-transition-ease: ease-in-out;


// Category

$color-bg-light: $white;
$color-text-primary: $black;
$color-text-hover: blue;
$color-icon-hover: rgb(66, 66, 255);
$color-hero-dot:rgba(0, 0, 0, 0.3);
$text-color-1:#878787;

$spacing-padding-md: 16px;
$spacing-padding-sm: 12px;
$spacing-margin-bottom-md: 20px;
$spacing-margin-x-lg: 21px;
$spacing-gap-sm: 16px;

$border-radius-md: 10px;
$border-radius-sm:8px;

$icon-size-lg: 60px;
$icon-margin-bottom-sm: 10px;

$font-size-base: 1rem;
$font-size-sm: 0.8rem;
$icon-translateY-sm: -2px;

$breakpoint-md: 768px;

$gap-md:20px;
$gap-sm:10px;
$font-weight-md:500;
$font-weight-lg:600;